parameters:
    level: 0
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        # some classes extending Zend_Oauth_Http have this method, Zend_Oauth_Http should probably have an empty one added
        - '#Call to an undefined method Zend_Oauth_Http::_attemptRequest\(\)\.#'